html, body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

.container {
  margin: 0 auto;
}


#headercontainer {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 50px;
  width: 100%;
  height: 69px;
  border-bottom: 5px solid seashell;
  justify-content: space-between;
}

#navheader {
  display: inline-flex;
  text-align: right;
}

#navheader li {
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  text-align: right;
}

#missioncontainer {
  background-image: url("C:/Users/damie/Documents/GitHub/teacozy/images/img-mission-background.jpg");
  background-size: auto;
  margin-left: 25px;
  margin-right: 25px;
  height: 700px;
  display: flex;
  border: 5px solid red;
}

#mission {
  background-color: black;
  border: 3px solid yellow;
  text-align: center;
  align-content: center;
  height: 120px;
  width: 100%;
  align-self: center;
}

#teaofmonth {
  text-align: center;
  width: auto;
  border: 5px solid purple;
  color: seashell;
  opacity: 0.9;
}


#imagecontainer {
  height: auto;
  width: auto;
  border: 5px solid green;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.images {
  height: auto;
  width: auto;
  border: 5px solid pink;
  display: inline-flex;
}


#locationscontainer {
  margin-left: 25px;
  margin-right: 25px;
  justify-content: space-between;
  border: 5px solid blue;
  display: flex;
  background-image: url("C:/Users/damie/Documents/GitHub/teacozy/images/img-locations-background.jpg");
  height: 500px;
  width: 100%;

}

#downtown {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  align-self: center;
  text-align: center;
  color: seashell;
  opacity: 0.9;
}

#eastbayside {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  align-self: center;
  text-align: center;
  color: seashell;
  opacity: 0.9;
}

#oakdale {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  align-self: center;
  text-align: center;
  color: seashell;
  opacity: 0.9;
}

#footer {
  text-align: center;
  color: seashell;
  opacity: 0.9;
}
